@media (min-width: 1200px) {

/* VARIABLES
====================================================================== */

:root {
  --wrap-padding: 55px; /* var(--wrap-padding) */
}


/* HEADER
====================================================================== */

.page-header {
}

.page-header__logo {
  float: left;
}

.logo {
  display: inline-block;

  text-align: center;
  vertical-align: baseline;
  text-decoration: none;
}

.logo__img {
  display: block;
}

.page-header__site-nav {
  float: right;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
}

.site-nav__link {
  display: block;
  /*width: 70px;
  height: 60px;*/
  width: 70px;
  height: 48px;

  text-decoration: none;

  background: url("../img/icon/icon-home.png") /*16px 18px*/ 50% 50% no-repeat;
}

.site-nav__link--diamond {
  background-image: url("../img/icon/icon-diamond.png");
}

.site-nav__link--active,
.site-nav__link:hover,
.site-nav__link:focus {
  background-color: #7dd5c9;
}

/* catalog-nav
============================== */

.page-header__catalog-nav {
  position: relative;

  clear: both;
}

.catalog-nav {
  /*max-width: 382px;*/
  padding: var(--wrap-padding) var(--wrap-padding) 0;

  background: #142038 url("../img/back-catalog-nav.jpg") 0 0 no-repeat;
  background-size: cover;
}

.catalog-nav__title {
  margin: 0;

  font: normal 400 18px/1 "Roboto Condensed", "Helvetica", sans-serif;
  color: #979797;
  text-transform: uppercase;
}

.nojs .catalog-nav__btn {
  display: none;
}

.catalog-nav__btn {
  position: absolute;
  right: var(--wrap-padding);
  top: var(--wrap-padding);

  width: 20px;
  height: 20px;
}

.catalog-nav__btn::before,
.catalog-nav__btn::after {
  content: "";

  position: absolute;
  left:0;
  top: 0;

  width: 28px;
  height: 1px;

  background-color: #3ab3a6;

  transform: rotate(45deg);
  transform-origin: left top;
}

.catalog-nav__btn::after {
  top: 100%;

  transform: rotate(-45deg);
}

.catalog-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: var(--wrap-padding) 0 0;
}

.catalog-nav__item {
  min-width: 135px;
  width: 50%;
  margin-bottom: var(--wrap-padding); /*55px*/
}

.catalog-nav__link {
  position: relative;

  display: block;
  padding: 59px 0 0;

  font-weight: 900;
  color: #3ab3a6;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background: url("../img/icon/icon-bowls.png") left 50% bottom 36px no-repeat;

  transition: 0.6s;
}
.catalog-nav__link--cups {
  background-image: url("../img/icon/icon-cups.png");
}
.catalog-nav__link--dispensers {
  background-image: url("../img/icon/icon-dispensers.png");
}
.catalog-nav__link--furniture {
  background-image: url("../img/icon/icon-furniture.png");
}
.catalog-nav__link--tableware {
  background-image: url("../img/icon/icon-tableware.png");
}
.catalog-nav__link--cutlery {
  background-image: url("../img/icon/icon-cutlery.png");
}
.catalog-nav__link--plants {
  background-image: url("../img/icon/icon-plants.png");
}

.catalog-nav__link::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 0;
  height: 0;

  transition: 0.6s;
}

.catalog-nav__link:hover,
.catalog-nav__link:focus {
  color: #f9c34a;
}

.catalog-nav__link:hover::before,
.catalog-nav__link:focus::before {
  box-shadow: 0 0 50px 25px #f9c34a;
}

/* search
============================== */

.search__field {
  display: block;
  /*width: 70px;
  height: 60px;
  padding-left: 70px;*/
  width: 100%;
  height: 48px;
  padding: 0 20px 0 60px;

  background: #ffffff url("../img/icon/icon-search.png") /*16px 18px*/ 20px 50% no-repeat;
}


/* CONTENT
====================================================================== */

.catalog-section {
display: flex;
min-height: 370px;
}

.rooms {
max-height: 330px;
}

.catalog-section__title {
justify-content: center;
width: 360px;
margin: 0 10px 0 0;
}

.shakers__title {
order: 100;
margin: 0 0 0 10px;
}

.catalog-section__title::after {
left: 100%;
bottom: 0;

width: 20px;
height: 100%;

background: linear-gradient(-135deg, transparent 75%, #7dd5c9 75%) 0 0 repeat-y,
linear-gradient(-45deg, transparent 75%, #7dd5c9 75%) 0 0 repeat-y;
background-size: 20px 20px;
}

.shakers__title::after {
left: -20px;

background-image: linear-gradient(135deg, transparent 75%, #bfe79e 75%),
linear-gradient(45deg, transparent 75%, #bfe79e 75%);
}

.authentics__title::after {
background-image: linear-gradient(-135deg, transparent 75%, #f8c255 75%),
linear-gradient(-45deg, transparent 75%, #f8c255 75%);
}

.catalog-section__title-link {
padding-left: 0;
padding-top: calc(79px + 40px);

text-align: center;

background-position: 50% 0;
}

.shakers__title-link {
padding-top: calc(110px + 40px);
}

.authentics__title-link {
padding-top: calc(115px + 40px);
}

/* product
============================== */

.product {
  flex-grow: 1;
}

.promo .product {
padding-top: 145px;
}

  .product__col-1 {
position: relative;

width: 66%;

/*transform: perspective(500px);*/
/*perspective: 500px;*/
  }

.product__col-1 * {
  z-index: 1;
}

  .product__col-2 {
width: 34%;
  }

.promo .product__title {
margin-top: 70px;
}

.product__price {
}

.product__favorites {
}

.product__img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;

/*transform: translate3d(0, 0, -10px);*/
}

.promo .product__author {
display: flex;
margin: 0 auto;
}

.product__author-name {
}

.product__slogan {
  font-size: 56px;
}

.promo .product__slogan {
/*max-width: 350px;*/

text-align: center;
}

/* Slider
================================================== */

.slider {
}

.promo .slider {
min-height: 665px;
}

.promo .slider__nav {
position: absolute;
left: 185px;
top: 0;

justify-content: center;
width: 340px;
height: 280px;
padding-top: 80px;

background: linear-gradient(59deg, transparent 50%, #f8c255 50%) 0 0 no-repeat,
linear-gradient(-59deg, transparent 50%, #f8c255 50%) 100% 0 no-repeat;
background-size: 50% 100%;
}

.promo .slider__list {
width: 52px;
height: 52px;
overflow: hidden;
}

.promo .slider__item {
display: none;
}

.promo .slider__item--active {
display: block;
}

.slider__arrow {
margin-left: auto;
}

.promo .slider__arrow {
margin-right: auto;
}


/* FOOTER
====================================================================== */

.page-footer {
display: flex;
justify-content: space-between;
align-items: flex-end;
padding: 120px 130px 80px var(--wrap-padding);
}

.page-footer__col-2 {
margin: 0;
padding-left: var(--wrap-padding);
}

.popular {
}

.popular__link {
}

.popular__link--shakers {
}

.popular__link--authentics {
}

.page-footer__copyright {
margin: 50px 0 0;

line-height: 1;
}

.page-footer__copyright-name {
}

.page-footer__logo {
}

}
