@media (min-width: 1000px) {

  /* VARIABLES
  ====================================================================== */

  :root {
    --wrap-padding: 35px; /* var(--wrap-padding) */
  }

  /* HEADER
  ====================================================================== */

  .page-header {
    display: flex;
    flex-direction: row-reverse;
    height: 665px;
  }

  .page-header__logo {
    left: 20px;
    top: 20px;
  }

  /* site-nav
  ============================== */

  .page-header__col-1 {
    padding-top: 60px;
    width: 70px;
  }

  .site-nav__list {
    flex-direction: column;
    padding: 0;
  }

  .site-nav__item {
    margin-bottom: 15px;
  }

  .site-nav__link {
    justify-content: flex-start;
    width: 70px;
    height: 60px;
    padding-left: 16px;

    background-position: 16px 50%;
  }

  /* search
  ============================== */

  .search__field {
    width: 70px;
    height: 60px;

    background-color: transparent;
    background-position: 16px 50%;

    transition: 0.6s;
  }

  .search__field:focus {
    z-index: 100;

    width: 370px;

    background-color: #ffffff;

    transform: translateX(-300px);
  }

  /* catalog-nav
  ============================== */

  .page-header__col-2 {
    order: -1;
  }

  .catalog-nav {
    min-width: 390px;
    width: 390px;
  }

  .catalog-nav--open {
    min-width: auto;
    width: auto;
  }

  .catalog-nav__item {
    width: 50%;
  }

  .catalog-nav--open .catalog-nav__title {
    display: none;
  }

  /* Slider
  ================================================== */

  .page-header__col-3 {
    flex-grow: 1;
    display: flex;
  }

  .slider--full .slider__nav {
    position: absolute;
    left: 16.5% /*185px*/;
    top: 0;

    justify-content: center;
    width: 345px;
    height: 280px;
    padding-top: 80px;

    background: linear-gradient(58deg, transparent 50%, #ffc84c 50%) 0 0 no-repeat,
    linear-gradient(-58deg, transparent 50%, #ffc84c 50%) 100% 0 no-repeat;
    background-size: 50% 100%;
    mix-blend-mode: multiply;
  }

  .slider--full .slider__list {
    width: 52px;
    height: 52px;
    overflow: hidden;
  }

  .slider--full .slider__nav-item {
    position: absolute;
    left: 52px;
    top: 0;
  }

  .slider--full .slider__nav-item--active {
    left: 0;
    z-index: 100;
  }

  .slider--full .product__img {
    margin-bottom: 0;
  }

  .slider__arrow {
    margin: auto;
  }

  .slider--full .slider__arrow {
    margin-right: auto;
  }


  /* CONTENT
  ====================================================================== */

  .catalog-section {
    flex-direction: row;
  }

  .catalog-section--reverse {
    flex-direction: row-reverse;
  }

  .catalog-section__head {
    justify-content: center;
    width: 30%;
    max-width: 360px;
    margin: 0 10px 0 0;
  }

  .catalog-section__head--shakers {
    margin: 0 0 0 10px;
  }

  .catalog-section__head::after {
    left: 100%;
    bottom: 0;

    width: 20px;
    height: 100%;

    background: linear-gradient(-135deg, transparent 75%, #7dd5c9 75%) 0 0 repeat-y,
    linear-gradient(-45deg, transparent 75%, #7dd5c9 75%) 0 0 repeat-y;
    background-size: 20px 20px;
  }

  .catalog-section__head--shakers::after {
    left: -20px;

    background-image: linear-gradient(135deg, transparent 75%, #bfe79e 75%),
    linear-gradient(45deg, transparent 75%, #bfe79e 75%);
  }

  .catalog-section__head--authentics::after {
    background-image: linear-gradient(-135deg, transparent 75%, #f8c255 75%),
    linear-gradient(-45deg, transparent 75%, #f8c255 75%);
  }

  .catalog-section__title {
    padding-left: 0;
    padding-top: calc(79px + 40px);

    text-align: center;

    background-position: 50% 0;
  }

  .catalog-section__title--shakers {
    padding-top: calc(110px + 40px);
  }

  .catalog-section__title--authentics {
    padding-top: calc(115px + 40px);
  }

  /* product
  ============================== */

  .slider--full .product {
    padding-top: 145px;
  }

  .product__col-1 {
    position: relative;
  }

  .slider--full .product__col-1 {
    width: 51%;
  }

  .slider--full .product__col-2 {
    width: 49%;
  }

  .promo .product__title {
    margin-top: 70px;
  }

  .product__img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .promo .product__author {
    display: flex;
    margin: 0 auto;
  }

  .product__slogan {
    font-size: 46px;
  }

  .promo .product__slogan {
    text-align: center;
  }


  /* FOOTER
  ====================================================================== */

  .page-footer {
    padding: 120px 130px 80px var(--wrap-padding);
  }

}

@media (min-width: 1150px) {

  /* VARIABLES
  ====================================================================== */

  :root {
    --wrap-padding: 55px; /* var(--wrap-padding) */
  }

  .product__slogan {
    font-size: 56px;
  }

}
